In [159]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import time
import requests
from bs4 import BeautifulSoup
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
sns.set_style("whitegrid")
sns.set_context("poster")

In [101]:
# get all the data for job

df1 = pd.read_csv("job_df20.csv", encoding = "ISO-8859-1")
print("df1 shape" + str(df1.shape))
df2 = pd.read_csv("job_df40.csv", encoding = "utf-8")
print("df2 shape" + str(df2.shape))
df3 = pd.read_csv("job_df_dataAnalyst.csv", encoding = "utf-8")
print("df3 shape" + str(df3.shape))
df4 = pd.read_csv("job_df_machine.csv", encoding = "utf-8")
print("df4 shape" + str(df4.shape))
df4 = pd.read_csv("job_df_machine.csv", encoding = "utf-8")
print("df4 shape" + str(df4.shape))

# Append the df's
job_df = df1.append(df2).append(df3).append(df4)

# There is an Unnamed:0 column, droping that column
job_df.drop(job_df.columns[[0]], axis=1, inplace=True)
print("job_df shape" + str(job_df.shape))

# Dropping the duplicate Job_URL rows from the data frame so that it comes only once
# Not working because last few index is dynamic after ?src=something; need to modify the job_links
job_df[['Actual_Job_Link', 'SearchId']] = job_df.Job_Link.str.split("?" , expand=True)
# drop SearchId column
job_df.drop("SearchId", axis=1, inplace=True)
job_df = job_df.drop_duplicates("Actual_Job_Link")
print("job_df shape after removing duplicates" + str(job_df.shape))
job_df.head()

df1 shape(719, 21)
df2 shape(678, 21)
df3 shape(754, 21)
df4 shape(1072, 21)
job_df shape(3223, 20)
job_df shape after removing duplicates(2775, 21)

,Job_Link,Job_Title,Company_Name,Experience,Location,SalaryI,Num_Openings,Job_Post,Job_Application,Job_View,Salary,Industry,Functional_Area,Role_Category,Design_Role,Key_Skills,Skill_Experience,UG,PG,Doctorate,Actual_Job_Link
0,https://www.naukri.com/job-listings-Data-Scien...,Data Scientist - Perl/python,niki.ai,3 - 6 yrs,Bengaluru,Not Disclosed by Recruiter,NaN,Posted Just Now,Less than 10,Less than 10,Not Disclosed by Recruiter,IT-Software / Software Services,Analytics & Business Intelligence,Analytics & BI,Data Analyst,"Machine Learning,Python,Data Analysis,Statisti...",Qualifications and Skills :1. B.tech/MS or equ...,B.Tech/B.E. - Any Specialization,"M.Tech - Any Specialization, MS/M.Sc(Science) ...",Doctorate Not Required,https://www.naukri.com/job-listings-Data-Scien...
1,https://www.naukri.com/job-listings-Data-Scien...,Data Scientist,Brillio Technologies Pvt. Ltd,2 - 5 yrs,Bengaluru,Not Disclosed by Recruiter,NaN,Posted 1 day ago,14,166,Not Disclosed by Recruiter,IT-Software / Software Services,"Medical , Healthcare , R&D , ...",R&D,Research Scientist,"Analytics,Data analysis,Python,Visualization,A...",NaN,Any Graduate - Any Specialization,Post Graduation Not Required,NaN,https://www.naukri.com/job-listings-Data-Scien...
2,https://www.naukri.com/job-listings-Senior-Dat...,"Senior Data Scientist, Data Scientist,",Knorex India,3 - 6 yrs,Pune(Hadapsar),"4,25,000 - 9,25,000 P.A.",Openings: 1,Posted Just Now,Less than 10,Less than 10,"INR 4,25,000 - 9,25,000 P.A.",IT-Software / Software Services,IT Software - System Programming,Programming & Design,System Analyst,"python,machine learning,r,algorithms,java,mark...",Please refer to the Job description above,B.Tech/B.E. - Computers,"M.Tech - Computers, Post Graduation Not Required",Doctorate Not Required,https://www.naukri.com/job-listings-Senior-Dat...
3,https://www.naukri.com/job-listings-Data-Scien...,Data Scientist,GoPaisa Netventures Pvt Ltd,3 - 5 yrs,"New Delhi, Jasola",Not Disclosed by Recruiter,NaN,Posted 2 days ago,Less than 10,108,Not Disclosed by Recruiter,Internet / Ecommerce,"IT Software - eCommerce , Internet Techn...",Programming & Design,Database Architect/Designer,"mysql,solr,git,web technologies,performance tu...","Qualification\t-B-Tech , MCA , M-Tech",B.Tech/B.E. - Any Specialization,"M.Tech - Any Specialization, MCA - Computers",Doctorate Not Required,https://www.naukri.com/job-listings-Data-Scien...
4,https://www.naukri.com/job-listings-Data-Engin...,Data Engineer/analyst/scientist (Big Data),IDS Infotech Ltd.,2 - 4 yrs,Chandigarh,"4,00,000 - 8,00,000 P.A.",Openings: 1,Posted Just Now,Less than 10,Less than 10,"INR 4,00,000 - 8,00,000 P.A.",IT-Software / Software Services,"IT Software - Application Programming , ...",Programming & Design,Software Developer,"Big Data Engineer,Big Data Developer,Big Data ...",Please refer to the Job description above,"B.Tech/B.E. - Computers, BCA - Computers","M.Tech - Computers, MCA - Computers",NaN,https://www.naukri.com/job-listings-Data-Engin...

In [105]:
# get all the data for job links
jdf1 = pd.read_csv("job_links_df20.csv", encoding = "ISO-8859-1")
print("jdf1 shape" + str(jdf1.shape))
jdf2 = pd.read_csv("job_links_df20.csv", encoding = "utf-8")
print("jdf2 shape" + str(jdf2.shape))
jdf3 = pd.read_csv("job_links_df_dataAnalyst.csv", encoding = "utf-8")
print("jdf3 shape" + str(jdf3.shape))
jdf4 = pd.read_csv("job_links_df_machine.csv", encoding = "utf-8")
print("jdf4 shape" + str(jdf4.shape))

# Append
job_links = jdf1.append(jdf2).append(jdf3).append(jdf4)

# There is an Unnamed:0 column, droping that column
job_links.drop(job_links.columns[[0]], axis=1, inplace=True)
print("job_links shape" + str(job_links.shape))

# Dropping the duplicate Job_URL rows from the data frame so that it comes only once
# Not working because last few index is dynamic after ?src=something; need to modify the job_links
job_links[['Actual_Job_Link', 'SearchId']] = job_links.Job_Link.str.split("?" , expand=True)
# drop SearchId column
job_links.drop("SearchId", axis=1, inplace=True)
job_links = job_links.drop_duplicates("Actual_Job_Link")
print("job_links shape after removing duplicates" + str(job_links.shape))
job_links.head()

jdf1 shape(1001, 3)
jdf2 shape(1001, 3)
jdf3 shape(1500, 3)
jdf4 shape(1500, 3)
job_links shape(5002, 2)
job_links shape after removing duplicates(3440, 3)

                                            Job_Link          Response                                    Actual_Job_Link
0  https://www.naukri.com/job-listings-AI-Scienti...  <Response [200]>  https://www.naukri.com/job-listings-AI-Scienti...
1  https://www.naukri.com/job-listings-Data-Scien...  <Response [200]>  https://www.naukri.com/job-listings-Data-Scien...
2  https://www.naukri.com/job-listings-Data-Scien...  <Response [200]>  https://www.naukri.com/job-listings-Data-Scien...
3  https://www.naukri.com/job-listings-Senior-Dat...  <Response [200]>  https://www.naukri.com/job-listings-Senior-Dat...
4  https://www.naukri.com/job-listings-Data-Scien...  <Response [200]>  https://www.naukri.com/job-listings-Data-Scien...

In [138]:
# Clearly we can notice that there are unique job_links for whom we don't have any data
# We will try to get those links and pass it to the scrapper to scrap those links again, or try to modify the scrapping operation if required
# ANTI-JOIN is neede
links_with_data = job_df['Actual_Job_Link'].to_frame()
all_job_links = job_links['Actual_Job_Link'].to_frame()
out_merge = pd.merge(links_with_data,all_job_links, how='outer', indicator=True)
remaining_job_list = out_merge[out_merge['_merge'] == 'right_only']

In [139]:
remaining_job_list.shape

(1309, 2)

In [140]:
remaining_job_list.head()

                                        Actual_Job_Link      _merge
2775  https://www.naukri.com/job-listings-AI-Scienti...  right_only
2776  https://www.naukri.com/job-listings-Senior-Dat...  right_only
2777  https://www.naukri.com/job-listings-Business-D...  right_only
2778  https://www.naukri.com/job-listings-Data-Scien...  right_only
2779  https://www.naukri.com/job-listings-Urgent-Ope...  right_only

In [145]:
import requests
from bs4 import BeautifulSoup

In [146]:
job_url = "https://www.naukri.com/job-listings-Sr-Data-Scientist-Pykih-Data-Intelligence-Private-Limited-Ahmedabad-5-to-10-years-161017005627"
job_response = requests.get(job_url)
job_page = job_response.text
job_soup = BeautifulSoup(job_page, "html.parser")

In [147]:
job_title = job_soup.find("h1", {"itemprop":"title"}).getText().strip()
job_title

'Sr. Data Scientist'

In [148]:
# openings = job_soup.find("div",{"class":"sumFoot"}).find_all("span")
# openings
openings = ""
posted = ""
for x in job_soup.find("div",{"class":"sumFoot"}).find_all("span"):
    if "Openings" in x.text.strip():
        openings = x.text.strip()
    if "Posted" in x.text.strip():
        posted = x.text.strip()

In [149]:
openings

'Openings: 1'

In [150]:
posted

'Posted 3 days ago'

In [151]:
type(remaining_job_list)

pandas.core.frame.DataFrame

In [157]:
# Test
df_lnk = remaining_job_list[2:10]

In [158]:
for index, row in df_lnk.iterrows():
    job_url = row["Actual_Job_Link"]
    print(job_url)
    job_response = requests.get(job_url)
    job_page = job_response.text
    job_soup = BeautifulSoup(job_page, "html.parser")
    print(job_soup.a)
    job_title = job_soup.find("h1", {"itemprop":"title"}).getText().strip()
    print(job_title)

https://www.naukri.com/job-listings-Business-Data-Scientist-Redhat-pune-Red-Hat-India-Pvt-Ltd-Pune-7-to-12-years-171017005438
<a class="nLogo fl" href="https://www.naukri.com" itemprop="url"><img alt="Naukri.com, India’s No.1 Job Site" itemprop="logo" src="https://static.naukimg.com/s/4/100/i/naukri_Logo.png"/></a>
Business Data Scientist _ Redhat_pune
https://www.naukri.com/job-listings-Data-Scientist-Adecco-India-Private-Limited-Pune-3-to-5-years-310717006501
<a class="nLogo fl" href="https://www.naukri.com/premium-jobs-for-iit-engineering-graduates" itemprop="url"><img alt="Naukri.com, India’s No.1 Job Site" itemprop="logo" src="https://static.naukimg.com/s/4/100/i/naukri_premium_Logo_v1.png"/></a>
Data Scientist
https://www.naukri.com/job-listings-Urgent-Opening-for-Data-Scientist-sas-Mumbai-Adecco-India-Private-Limited-Mumbai-3-to-8-years-090817020498
<a class="nLogo fl" href="https://www.naukri.com" itemprop="url"><img alt="Naukri.com, India’s No.1 Job Site" itemprop="logo" src="https://static.naukimg.com/s/4/100/i/naukri_Logo.png"/></a>
Job | Urgent Job Opening for Data Scientist (sas) - Mumbai
https://www.naukri.com/job-listings-Sr-Data-Scientist-Pykih-Data-Intelligence-Private-Limited-Ahmedabad-5-to-10-years-161017005627
<a class="nLogo fl" href="https://www.naukri.com" itemprop="url"><img alt="Naukri.com, India’s No.1 Job Site" itemprop="logo" src="https://static.naukimg.com/s/4/100/i/naukri_Logo.png"/></a>
Sr. Data Scientist
https://www.naukri.com/job-listings-Data-Scientist-Requirement-for-Pune-L-T-Infotech-Larsen-Toubro-Infotech-Limited-Pune-7-to-11-years-111017004506
<a class="fr mt5" href="javascript:void(0);" id="srfClose" onclick="hidemodal();" title="Close"><span class="crossLB"> </span></a>

AttributeError: 'NoneType' object has no attribute 'getText'

In [ ]:
# For few pages, all the class name and everything need to change. They have different Kind of page structure.
# We are not going to scrap that. Expecting 75-80 % of pages from the total list